# EditorConfig is awesome:http://EditorConfig.org

[*]
dotnet_diagnostic.CS0169.severity = silent
dotnet_diagnostic.CS0414.severity = silent
dotnet_diagnostic.CS0649.severity = silent
dotnet_diagnostic.CS8600.severity = silent
dotnet_diagnostic.CS8601.severity = silent
dotnet_diagnostic.CS8602.severity = silent
dotnet_diagnostic.CS8603.severity = silent
dotnet_diagnostic.CS8618.severity = silent
dotnet_diagnostic.CS8622.severity = silent
dotnet_diagnostic.CS8625.severity = silent
dotnet_diagnostic.CS8629.severity = silent

dotnet_diagnostic.SA1009.severity = silent
dotnet_diagnostic.SA1028.severity = silent
dotnet_diagnostic.SA1108.severity = silent
dotnet_diagnostic.SA1101.severity = silent
dotnet_diagnostic.SA1116.severity = silent
dotnet_diagnostic.SA1117.severity = silent
dotnet_diagnostic.SA1119.severity = silent
dotnet_diagnostic.SA1121.severity = silent
dotnet_diagnostic.SA1122.severity = silent
dotnet_diagnostic.SA1124.severity = silent
dotnet_diagnostic.SA1129.severity = silent
dotnet_diagnostic.SA1136.severity = silent
dotnet_diagnostic.SA1201.severity = silent
dotnet_diagnostic.SA1202.severity = silent
dotnet_diagnostic.SA1204.severity = silent
dotnet_diagnostic.SA1306.severity = silent
dotnet_diagnostic.SA1307.severity = silent
dotnet_diagnostic.SA1311.severity = silent
dotnet_diagnostic.SA1313.severity = silent
dotnet_diagnostic.SA1314.severity = silent
dotnet_diagnostic.SA1400.severity = silent
dotnet_diagnostic.SA1401.severity = silent
dotnet_diagnostic.SA1501.severity = silent
dotnet_diagnostic.SA1502.severity = silent
dotnet_diagnostic.SA1503.severity = silent
dotnet_diagnostic.SA1513.severity = silent
dotnet_diagnostic.SA1516.severity = silent
dotnet_diagnostic.SA1518.severity = silent
dotnet_diagnostic.SA1602.severity = silent
dotnet_diagnostic.SA1611.severity = silent
dotnet_diagnostic.SA1615.severity = silent
dotnet_diagnostic.SA1618.severity = silent
dotnet_diagnostic.SA1629.severity = silent
dotnet_diagnostic.SA1633.severity = silent
dotnet_diagnostic.SA1636.severity = silent
dotnet_diagnostic.SA1649.severity = silent
