<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*[\\/]Tinyhand\.dll$</ModulePath>
        <ModulePath>.*[\\/]TinyhandGenerator\.dll$</ModulePath>
        <ModulePath>.*[\\/]TinyhandProcessor\.dll$</ModulePath>
      </Include>
    </ModulePaths>
  </CodeCoverage>
</Configuration>
